body{
   background-image: url(4K.jpg);
   background-size: cover;
}
.base{
    background-color:lavenderblush;
    width: 500px;
    height: 500px;
    border: 2px solid rgb(rgb(46, 109, 79));
    padding: 10px;
    margin: auto;
}
.chatmessage{
    background-image: url(Chat\ message.jpg);
    height: 430px;
    padding: 10px;
    overflow: scroll;
    color:rgb(15, 15, 15);
}